body{
    background-color: rgb(238, 238, 238);
}
#center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#content{
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
#name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #FF756B;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
a{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
button{
    background-color: #FFA96B;
    border-color: #FF756B;
    color: #460000;
    border-radius: 5px;
    padding: 10px;
}